[submodule "logging"]
	path = logging
	url = https://github.com/Cubicake/CubiLogging.git
[submodule "leafpile"]
	path = leafpile
	url = https://github.com/Cubicake/ParallelepipedLeafPile.git
	branch = java-21-main
[submodule "locatables"]
	path = locatables
	url = https://github.com/Cubicake/Locatables.git
